@import "./parts/header.css";
@import './parts/main.css';
@import './parts/footer.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 350px;
    display: grid;
    grid-template-rows: 70vh 1fr 80px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    row-gap: 5px;

    background: linear-gradient(55deg, rgb(41, 29, 29), rgb(112, 2, 2), rgb(119, 98, 98));
    font-family: 'Aclonica', sans-serif;
};
:root{
    font-size: 14px;
}
::selection{
    background-color: crimson;
    color: wheat;
}








 

